@model Telzir.Models.Pacote

@{
    ViewData["Title"] = "Deletar";
}

<h1>Deletar</h1>

<h3>Você tem certeza que deseja deletar este pacote?</h3>
<div>
    <h4>Pacote</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Minutos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Minutos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-warning btn_sm" /> 
        <a class="btn btn-danger btn-sm" asp-asp-controller="Planos"  asp-action="Index">Voltar ora lista</a>
    </form>
</div>
